<div>
	<a href="#!">voltar</a>
</div>
<div class="row">
	<div class="col-md-8">
		<button class="btn btn-primary" data-toggle="modal" data-target="#modalPessoa"><span class="glyphicon glyphicon-plus"></span> Novo Usuário</button>
	</div>
	<div class="col-md-4">
		<input class="form-control" placeholder="Pesquisar" ng-model="pesquisar">
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<th>Nome</th>
				<th>Matricula</th>
				<th>Email</th>
                <th>Senha</th>
				<th></th>
			</thead>
			<tbody>
                <!-- Listagem -->
				<tr dir-paginate="pessoa in _ctrl.usuarios|filter:pesquisar|itemsPerPage:8">
					<td>{{pessoa.nome}}</td>
					<td>{{pessoa.matricula}}</td>
                    <td>{{pessoa.email}}</td>
                    <td>{{pessoa.senha}}</td>
					<td>
						<button class="btn btn-info btn-xs" ng-click="_ctrl.updateUsuario(pessoa)"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
						<button class="btn btn-danger btn-xs" ng-click="_ctrl.deleteUsuario(pessoa.matricula)"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Paginação -->
<div class="row">
	<div class="col-md-12 text-center">
		<dir-pagination-controls>
	    </dir-pagination-controls>
	</div>
</div>
<div class="modal fade" id="modalPessoa" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Novo Usuário</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<label>Nome:</label>
						<input class="form-control" type="text" ng-model="_ctrl.usuario.nome">
					</div>
					<div class="col-md-6">
						<label>Matrícula:</label>
						<input class="form-control" type="text" ng-model="_ctrl.usuario.matricula">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>E-mail:</label>
						<input class="form-control" type="text" ng-model="_ctrl.usuario.email">
					</div>
					<div class="col-md-6">
						<label>Senha:</label>
						<input class="form-control" type="password" ng-model="_ctrl.usuario.senha">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="_ctrl.usuario = {}" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="_ctrl.createUsuario()" data-dismiss="modal">Salvar</button>
			</div>
		</div>
	</div>
</div>



    <!--
    <form>
        Nome do Usuário:<input type="text" id="nomeUsuario" placeholder="Digite o nome completo"/><br />
        Email do Uuário:<input type="text" id="emailUsuario" placeholder="Digite o email"/><br />
        Senha do Usuário:<input type="password" id="senhaUsuario" placeholder="Digite a senha"/><br />
        <button type="submit" value="Cadastrar">Cadastrar</button>
    </form>-->
    <!--
    <script>
        const electron = require('electron');
        const {ipcRenderer} = electron;
        document.querySelector('form').addEventListener('submit', submitForm);
        const ul = document.querySelector('ul');
        ipcRenderer.on('usuario:add', function(e, usuario){               
            const liNome = document.createElement('li');
            const itemText = document.createTextNode(usuario.nome);
            liNome.appendChild(itemText);
            ul.appendChild(liNome);
            itemText = document.createTextNode(usuario.email);
            liEmail.appendChild(itemText);
            ul.appendChild(liEmail);   
            itemText = document.createTextNode(usuario.senha);
            liSenha.appendChild(itemText);
            ul.appendChild(liSenha);          
        });

        function submitForm(e){
            e.preventDefault();
            const nomeUsuario = document.querySelector('#nomeUsuario').value;
            const emailUsuario = document.querySelector("emailUsuario").value;
            const senhaUsuario = document.querySelector("senhaUsuario").value;
            const usuario = {id:usuario.length, nome: nomeUsuario, email:emailUsuario, senha:senhaUsuario};
            ipcRenderer.send('usuario:add', usuario);
        }
        </script>-->