<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AutoScheduler</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Aplicação</h1>
        <form action="/cadastroUsuario" method="POST">
            Nome do Usuário:<input type="text" name="nomeUsuario" placeholder="Digite o nome completo"/><br />
            Email do Uuário:<input type="text" name="emailUsuario" placeholder="Digite o email"/><br />
            Senha do Usuário:<input type="password" name="senhaUsuario" placeholder="Digite a senha"/><br />
            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>
