<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AutoScheduler</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Aplicação</h1>
        <ul style="display:inline">
            <ol><a href="views/cadastroUsuario.html">Cadastrar Usuário</a></ol>
            <ol>Deletar Usuário</ol>
            <ol>Cadastrar Ambiente</ol>
            <ol>Deletar Ambiente</ol>
            <ol>Alterar Ambiente</ol>
        </ul>
    </body>
</html>
